@import url('https://fonts.googleapis.com/css2?family=Anta&family=Cutive+Mono&display=swap');

@tailwind base;

@layer base {
  html {
    @apply text-neutral-800;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  font-family: "Cutive Mono", "Anta", monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(38, 38, 38, 0.87);
  background: linear-gradient(-45deg, #000000f6, #211f3be4), url("/public/images/happy_music.svg");
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Input Number Start */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
/* Input Number End */

.anta {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a, Link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover, Link:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: auto;

}

/* Scroll Bar Start */
/* width */
::-webkit-scrollbar {
  width: 0.4em;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.display-cards::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
  height: 0em;
  width: 0em;
}
/* Scroll Bar End */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Input Range */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #D5DBE1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #696971;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #696971;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-progress {
  background-color: #616161;
}

/***** Focus Styles *****/
/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]:focus::-webkit-slider-thumb {
  /* border: 1px solid #053a5f;
  outline: 3px solid #053a5f; */
  background: #080810;
  box-shadow: 0px 0px 0px 5px #ffffffb5;
}

/***** Firefox *****/
input[type="range"]:focus::-moz-range-thumb {
  /* border: 1px solid #053a5f;
  outline: 3px solid #053a5f; */
  background: #080810;
  box-shadow: 0px 0px 0px 5px #ffffffb5;
}


input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 5px #ffffffd9;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0px 0px 0px 5px #ffffffd9;
  transition: 0.3s ease-in-out;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Custom Loader Start */
.custom-loader {
  width: 20%;
  height: 22px;
  border-radius: 40px;
  color: #E4E4ED;
  border: 2px solid;
  position: relative;
  overflow: hidden;
}

.custom-loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 14px;
  top: 0;
  bottom: 0;
  left: -20px;
  border-radius: inherit;
  background: #0268c7;
  box-shadow: -10px 0 12px 3px #766DF4;
  clip-path: polygon(0 5%, 100% 0,100% 100%,0 95%,-30px 50%);
  animation: ct4 1s infinite linear;
}

@keyframes ct4 {
  100% {
    left: calc(100% + 20px);
  }
}
/* Custom Loader End */

/* Refresh Service Worker */
.circle-loader {
  position: relative;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  transition: transform 2s linear;
}

.circle-loader.animate {
  animation: spin 2s linear forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  */


.sidebar-hide {
  min-width: 35px !important;
}

/* .sidebar-control {
  transition: all ease-in-out 0.2s;
} */


/* Search Input Start */
.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #7f7f7f, #27274E);
  padding: 30px;
  border-radius: 15px;
  transition: background 0.3s ease;
  perspective: 1000px;
}

.label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s ease,
    text-shadow 0.3s ease;
}

.search-input {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background: linear-gradient(to right, #d9d9d9, #f8f8f8);
  font-size: 16px;
  color: #555;
  outline: none;
  transition: box-shadow 0.3s ease, background 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, transform 0.3s ease;
  transform-style: preserve-3d;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.2) inset; /* Improved box-shadow for a realistic feel */
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
  border-color: #213547;
  background: linear-gradient(to right, #c2f0c2, #f0f0f0);
  transform: rotateX(20deg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2) inset; /* Improved box-shadow on focus */
}

.search-input:focus + .label,
.search-input:not(:placeholder-shown) + .label {
  transform: translateY(-120%) scale(0.8);
  font-size: 12px;
  color: #454370;
  text-shadow: 0 0 5px #454370;
}

.search-input:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.2) inset; /* Improved box-shadow on hover */
  background: linear-gradient(to right, #e6e6e6, #f9f9f9);
  border-color: #999;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.clear-button:hover {
  color: #454370;
  transform: scale(1.1);
}

.search-input:not(:focus):not(:placeholder-shown) + .clear-button {
  opacity: 1;
}

.shine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.search-input:focus + .shine {
  opacity: 1;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  border-radius: 50%;
}

.search-input:focus + .search-icon {
  color: #454370;
  transform: translateY(-50%) scale(1.1);
  filter: drop-shadow(0 0 5px #454370);
}

@keyframes inputPulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.search-input:focus {
  animation: inputPulse 0.5s ease;
}
/* Search Input End */

